:root{
    --color-whit: #fff;
    --color-red: #e63636;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple: #9333FF;
    --color-purple2: indigo;

 } 
 *{
    margin: 0;
    padding: 0;
 }

 body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
 }